html,
body {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 1170px;
    margin: auto;
}

.flex_row {
    display: flex;
    flex-wrap: wrap;
}

/*------------------------- header-------------------------- */

.header {

}

.top_header {
    padding: 15px 0;
    width: 100%;
    background-color: #111111;
}

.top_header_left {
    width: 50%;
}

.top_header_left p {
    font-size: 15px;
    color: white;
    font-weight: 400;
}

.top_header_right {
    width: 50%;
    text-align: right;
}

.top_header_right .right_link {
    display: inline-block;
}

.right_link a {
    margin-right: 28px;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
}

.top_header_right .pay_unit {
    margin-right: 20px;
    display: inline-block;
    position: relative;
}

.top_header_right .pay_unit a {
    color: white;
}

.top_header_right .pay_unit span {
    letter-spacing: 2px;
    font-size: 13px;
}

.pay_unit span i {
    position: absolute;
    top: 4px;
    margin-left: 8px;
    font-size: 11px;
}

.bottom_header {
    padding: 30px 0;
}

.bottom_header ul {
    display: flex;
    justify-content: space-around;
}

.nav ul li a {
    padding: 4px 0;
    font-size: 18px;
    font-weight: 600;
    color: #111111;
    position: relative
}


.nav ul li a:hover:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #e53637;
    transform: scale(1);
    transition: all 0.5s;
}

.nav ul li a:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #e53637;
    content: "";
    transition: all, 0.5s;
    transform: scale(0);
}

.nav ul li.active a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #e53637;
    transform: scale(1);
    transition: all 0.5s;
}

.bottom_header .logo {
    width: 25%;
}

.bottom_header .nav {
    width: 50%;
}

.bottom_header .header_icon {
    display: flex;
    width: 25%;
    justify-content: flex-end;
}

.bottom_header .header_icon a {
    margin-right: 28px;
}

.header_icon .cart {
    display: flex;
    position: relative;
}

.header_icon .cart span {
    position: absolute;
    font-size: 11px;
    top: 4px;
    left: 5px;
}

.header_icon .cart .price {
    font-weight: 700;
    margin-left: -15px;
}

.header_icon .heart {
    padding-top: 2px;
}

/*------------------------- content-------------------------- */
.bg_content {
    width: 100%;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.content {
    padding-top: 230px;
}

.content img {
    max-width: 100%;
}

.content .shop_buy {
    max-width: 40%;
    margin-left: 15px;
}

.content .shop_buy h6 {
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 28px;
    font-size: 14px;
    color: #e53637;
}

.content .shop_buy h2 {
    line-height: 58px;
    margin-bottom: 35px;
    font-size: 48px;
    color: #111111;
    font-weight: 700;
}

.content .shop_buy p {
    line-height: 28px;
    margin-bottom: 35px;
}

.click_buy {
    padding: 14px 30px;
    background-color: #111111;
    display: inline-block;
}

.click_buy a {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: white;
    letter-spacing: 4px;
}

.click_buy i {
    color: white;
    font-size: 13px;
}


   /* ------------------------------banner------------------------*/
.banner {
    padding: 100px 0;
}

.banner h2 {
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    margin-bottom: 10px;
}

.banner a {
    font-size: 13px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 4px;
    box-sizing: border-box;
    position: relative;
}

.banner a:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #111111;
    transform: scale(1);
    transition: all 0.5s;
}

.banner .hover:hover a:after {
    content: "";
    width: 40%;
    background-color: #e53637;
}

.banner_row {
    padding: 0px 15px;
    display: flex;
    flex-wrap: wrap;
}

.banner_row .banner_link {
    max-width: 300px;
}

.banner .banner_1 {
    margin-left: 30%;
    margin-right: 10%;
    width: 100%;
    position: relative;
}

.banner .banner_1 .banner_link {
    position: absolute;
    top: 140px;
    left: 4%;
}

.banner .banner_1 .banner_img {
    float: right;
}

.banner .banner_2 {
    width: 50%;
    margin-top: -85px;
    z-index: 1;
}

.banner .banner_2 .banner_link {
    padding-top: 20px;
}

.banner .banner_3 {
    margin-top: 100px;
    position: relative;
    width: 50%;
}

.banner .banner_3 .banner_link {
    position: absolute;
    top: 140px;
    left: -13%;
}

.banner .banner_3 .banner_img {
    float: right;
}
 /* --------------------product -------------------------*/
.product {
    margin-bottom: 60px;
}

.best-sale {
    display: block;
}

.new-arri {
    display: none;
}

.hot-sale {
    display: none;
}

.product_list {
    display: flex;
    flex-wrap: wrap;
}

.filter_controls {
    text-align: center;
    margin-bottom: 45px;
}

.filter_controls li {
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    margin: 0 44px;
    color: #b7b7b7;
}

.filter_controls .active {
    color: #111111;
}

.rate {
    margin-bottom: 6px;
}

.rate i {
    font-size: 12px;
    margin-right: -5px;
}

.rate .fa-solid {
    color: #f7941d;
}

.rate .fa-regular {
    color: #b7b7b7;
}

.product_item {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin: 0 15px 40px 15px ;
    width: calc(25% - 30px);
}

.product_item:hover .add-cart {
    visibility:unset;
    top: 0;
    transition: all 0.3s;
}

.product_text {
    position: relative;
    margin-top: 20px;
    margin-bottom: 5px;
}

.product_text .add-cart {
    visibility: hidden;
    font-size: 15px;
    color: #e53637;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: -20px;
    transition: all 0.3s;
}

.product_text h6 {
    transform: scale(1);
    transition: all 0.3s;
}

.product_item:hover .product_text h6 {
    transform: scale(0);
    transition: all 0.3s;
}

.product_item:hover .product-color {
    visibility: unset;
    transition: all 0.5s;
}

.product_item:hover .product-color label {
    transform: scale(1);
    transition: all 0.5s;
}

.product-color label {
    transform: scale(0);
    transition: all 0.5s;
}

.product_img {
    width: 100%;
    height: 260px;
    position: relative;
    background-position: center center;
}

.product_hover {
    position: absolute;
    top: 20px;
    right: -80px;
    transition:all 0.5s;
}

.product_item:hover .product_hover {
    top: 20px;
    right: 20px;
    transition: all 0.5s;
}

.product_hover li {
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
}

.product-color {
    display: inline-block;
    float: right;
    visibility: hidden;
    transition: all 0.5s;
}

.product-color input {
    visibility: hidden;
    margin: 0;
    padding: 0;
}

.product-color label {
    display: inline-block;
    background: red;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    margin-right: 6px;
    margin-top: 5px;
}



.product-color label::after {
    content: "";
    position: absolute;
    left: -3px;
    top: -3px;
    height: 16px;
    width: 16px;
    border: 1px solid #b9b9b9;
    border-radius: 50%;
    opacity: 0;
}

.product-color .click::after  {
    opacity: 1;
}

.tag {
    position: absolute;
    top: 20px;
    left: 0;
}

.new::before {
    content: "new";
    letter-spacing: 2px;
    font-size: 11px;
    padding: 4px 15px;
    text-transform: uppercase;
    background-color: white;
    color: #111111;
    font-weight: 700;
}
.sale::before {
    content: "sale";
    letter-spacing: 2px;
    font-size: 11px;
    padding: 4px 15px;
    text-transform: uppercase;
    background-color: #111111;
    color: white;
    font-weight: 700;
}

.product_item h6 a {
    font-size: 15px;
    color: #111111;
    font-weight: 600;
}

.product_item p {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #0d0d0d;
}

/* -----------------categories--------------- */
.categories {
    background-color: #f3f2ee;
    padding-top: 150px;
    padding-bottom: 125px;
}

.categories-text {
    width: 25%;
    position: relative;
    z-index: 1;
    padding: 40px 15px 0;
}

.categories-text::after {
    content: "";
    box-sizing: border-box;
    height: 300px;
    width: 600px;
    top: 0;
    left: -475px;
    background-color: white;
    position: absolute;
    z-index: -1;
}

.categories-text span {
    display: block;
    font-size: 34px;
    line-height: 72px;
    color: #b7b7b7;
    font-weight: 500;
}

.categories-text .active {
    color: #111111;
    font-weight: 700;
}

.img_product--sale {
    padding-top: 25px;
    width: 30%;
    position: relative;
} 

.categories .price-sale {
    position: absolute;
    top: -16px;
    right: 0;
    background-color: #111111;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: white;
    text-align: center;
}

.price-sale p {
    padding-top: 22px;
    font-size: 15px;
    margin-bottom: 5px;
}

.price-sale span {
    font-size: 20px;
    font-weight: 700;
}

.categories_time-cowndown {
    width: 33.33%;
    margin-left: 100px;
}

.categories_time-cowndown p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #e53637;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.categories_time-cowndown h3 {
    color: #111111;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 25px;
    font-size: 36px;
}

.time-cowndown {
    margin-left: -35px;
}

.time-cowndown .time_item {
    width: 25%;
	margin-bottom: 25px;
	text-align: center;  
}

.time_item {
    position: relative;
}

.time_item span {
    color: #111111;
	font-weight: 700;
	font-size: 36px;

}

.time_item::after {
    content: ":";
    color: #111111;
	font-weight: 700;
	font-size: 36px;
    position: absolute;
    top: 0;
    right: 0;
}

.time_item:last-child::after{
    display: none;
}

.time_item h5 {
    color: #3d3d3d;
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
}

.btn--shop-now {
    padding-top: 30px;
}

.btn--shop-now a {
    margin-top: 30px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 14px 30px;
    color: #ffffff;
    background: #000000;
    letter-spacing: 4px;
}
/* -------------------instagram -------------------*/

.instagram{
    margin-top: 100px;
}

.instagram_img {
    box-sizing: border-box;
    width: 65%;
    padding: 0 10px;
}

.instagram__img__item {
    width: 33.333%;
    height: 260px;
}

.instagram_content {
    box-sizing: border-box;
    width: 35%;
    padding: 130px 0  0 25px;
}

.instagram_content h2 {
    font-size: 36px;
}

.instagram_content p {
    margin-top: 30px;
    margin-bottom: 65px;
    font-size: 16px;
    color: #3d3d3d;
}

.instagram_content h3 {
    font-size: 30px;
    color: rgb(229, 54, 55);
}

/* --------------------latest new--------------------- */

.latest--new {
    margin-top: 30px;
}

.latest--new-title {
    text-align: center;
    margin-bottom: 40px;
}

.latest--new-title h6{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #e53637;
    margin-bottom: 15px;
}

.latest--new-title h2 {
    color: #111111;
    font-weight: 700;
    line-height: 46px;
    font-size: 36px;
}

.blog_item {
    box-sizing: border-box;
    width: 33.333%;
    padding: 0 10px;
}

.blog_bg {
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog_content {
    margin: 0 30px;
    padding: 30px 30px 25px;
    margin-top: -35px;
    background-color: #ffffff;
}

.blog_content span {
    color: #3d3d3d;
    font-size: 13px;
    margin-bottom: 10px;
}

.blog_content h5 {
    color: #0d0d0d;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 10px;
    font-size: 18px;
}

.blog_content a {
    display: inline-block;
    color: #111111;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 3px 0;
    position: relative;
}

.blog_content a::after{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #111111;
    content: "";
    transition: all, 0.3s;
}

.blog_item:hover .blog_content a::after{
    width: 40%;
    background-color: #e53637;
}